/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* TYPO */
body{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #7d7f84;
}

h2{
    color: snow;
}

hr{
    width: 85%;
    margin: 0 20px;
    border: 1px solid #7d7f84;
}

/* COMMONS */
.container{
    display: flex;
    width: 100vw;
}

.container-small{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    flex-shrink: 0;
}

img{
    width: 100%;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* HEADER */
header{
    position: fixed;
    text-align: right;
    height: 90px;
    width: 100%;
    background-color: #080b12;
    opacity: 0.9;
    z-index: 2;
}

button{
   border-radius: 20px;
   background-color: transparent;
   color: snow;
   padding: 10px 30px;
   border: 1px solid snow;
   margin: 25px 5px;
   cursor: pointer;
}

/* ASIDE */
aside{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    height: calc(100vh - 90px);
    width: 300px;
    background-color: #000000;
    z-index: 9;
}

.logo{
    width: 170px;
    padding-top: 20px;
    padding-left: 30px;
}

.nav-aside{
    flex-shrink: 0;
    display: flex;
    align-content: flex-start;
    padding: 20px 15px;
}

.nav-aside ul li{
    list-style-type: none;
    margin-top: 15px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 2px;
    width: 100%;
}

.icon{
    height: 35px;
    width: 35px;
    background-size: contain;
    cursor: pointer;
}

.small{
    height: 15px;
    width: 15px;
}

.playlist{
    flex-grow: 1;
    padding: 5px 20px;
    overflow-y: auto;
}

aside h4{
    padding: 20px 20px;
    color: #fffafa;
}

.playlist ul li{
    list-style-type: none;
    margin: 15px 0;
}

.playlist h4{
    color: #fffafa;
}
.new-playlist{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px 20px;
}

.plus{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#7d7f84;
    height: 30px;
    width: 30px;
    color: #000000;
}

.download{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    cursor: pointer;
}


.account{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    color: #fffafa;
    padding: 15px 20px;
    cursor: pointer;
}

.profile{
    height: 25px;
    width: 25px;
    background-color: #7d7f84;
    border-radius: 50%;
    background-size: contain;
}

.circle{
    border-radius: 50%;
}


/* MAIN */
main{
    text-align: center;
    width: 100%;
    height: calc(100vh - 90px);
    overflow-y: auto;
    background-color: #141922;
}

/* nav */
nav{
    margin-top: 100px;
    height: 35px;
}

nav ul li{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

/* sections */
section{
    text-align: left;
    padding: 20px;
    margin-top: 30px;
}


.album{
    text-align: center;
    background-size: cover;
    width: 190px;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.album img{
    display: block;
}

.album-image{
    position: relative;
}

.album-image::after{
    content: "\f144";
    font-family: "Font Awesome 6 free";
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color:rgba(0, 0, 0, 0.4);
    font-size: 60px;
    color: snow;
    opacity: 0;
    transition: opacity 0.3s;
}

.album:hover .album-image::after{
    opacity: 1;
}

.subtitle ,p{
    margin-top: 10px;
}

.album strong{
    color: snow;
}

.album .radius{
    border-radius: 50%;
    
}

.radius::after{
    border-radius: 50%;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: #282828;
    z-index: 10;
}

.footer-left{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 10px;
}

.small-album{
    width: 45px;
    height: 45px;
    background-size: contain;
}

.description > strong{
    color: snow;
}

.description small:hover{
    cursor: pointer;
    text-decoration: underline;
    color: snow;
}

.favorite{
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.fa-heart:hover, .fa-folder:hover{
    color: snow;
}


.media-player{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    font-size: 23px;
    margin-bottom: 15px;
    color: snow;
}

.time-reproduction{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.play{
    font-size: 40px;
}

.time{
    color: snow;
    font-size: 12px;
}
.time-line{
    height: 5px;
    width: 500px;
    background-color:#7d7f84 ;
    border-radius: 10px;
}

.volume-line{
    height: 5px;
    width: 100px;
    background-color:#7d7f84 ;
    border-radius: 10px;
}

.time-line-color{
    position: relative;
    height: 100%;
    width: 25%;
    background-color: gainsboro;
    border-radius: 10px;
}

.footer-right{
    display: flex;
    align-items: center;
    gap: 20px;
    color: snow;
    margin-right: 10px;
}

.fa-solid, .fa-regular, .time-line-color{
    cursor: pointer;
}


.time-line-color:hover::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;

}
.time-line-color:hover{
    background-color: lightgreen;
}


/* RESPONSIVE */